@import '../common/variables';
@import '../common/mixins';
@import '../common/all';

.section-container{
    background-color: #ebebeb;
    padding: 130px 0;
    .container{
        display: flex;
        flex-direction: row;
        margin: 50px -15px -15px 0px;
        align-items: center;
        justify-content: center;
        
    }
}

.txt-container-blog{
    margin-left: 30%;
    margin-right: 30%;
}

.a-container{
    margin-top: 40px;
}

.blog-button{
    color: #fff;
    padding: 10px 20px;
    font-size: 11px;
    letter-spacing: 3px;
    font-weight: 500;
    background-color: #daa37f;
    border-radius: 0;
    text-align: center;
    text-transform: uppercase;
    
}
.blog-button:hover{
    color: rgba(255,255,255,0.6);;
}