@import '../common/all';
@import '../common/variables';
@import '../common/mixins';

.select-type-container{
    background-image: url(../../img/img/select-type-coffee.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    width: 100%;
    height: 600px;
    color:#333333;
    font-size: 14px;
    font-family: $font-family-body;
    padding: 60px 0px;
    position: relative;
    overflow: hidden;
    // .select-type-background{
        // background-image: url(https://image.ibb.co/nNCuib/coffee_item_10.jpg);
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
    
    
}

.select-comp-container{
    padding: 0px 15px;
    margin-right: auto;
    margin-left: auto;
    // position: absolute;
    // top: 606px;
    .select-comp-row{
        text-align: center;
        margin: 0px -15px;
    }
    .select-comp-row-txt{
        display: inline-block;
        float: none;
        width: 66.66666667%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .select-title{
        font-family: $font-family-body;
        line-height: 36px;
        font-size: 26px;
        margin: 0px 0px 20px;
        text-transform: uppercase;
        // font-weight: 500;
        text-align: center;
        font-weight: 500;
        color: black;
    }
    .select-subtitle{
        color: $color-secundary-txt;
        line-height: 23px;
        font-family: $font-family-p;
        text-align: center;
        padding: 0px 50px;
    }
}

.select-bottom{
    margin: 30px -15px 0px;
}
.select-a{
    color: #fff;
    padding: 10px 20px;
    font-size: 11px;
    letter-spacing: 3px;
    font-weight: 500;
    background-color: #daa37f;
    border-radius: 0;
    text-align: center;
    text-transform: uppercase;  
}
.select-a:hover{
    color: rgba(255,255,255, 0.6);
}

.mugcard-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0px auto;
    margin-top: 30px;
    text-align: center;
}