@import '../common/variables';
@import '../common/mixins';
@import '../common/all';


img{
    position: absolute;
    top: 160px;
}

.icon-1{
    left: 216px;
}
.icon-2{
     left: 300px;
}
.icon-3{
    left: 390px;
}