@import '../common/all';
@import '../common/variables';
@import '../common/mixins';

.txt-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0px 260px;
    .our-story-txt{
        margin: 0 130px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .our-story-h1{
        font-family: $font-family-body;
        font-size: 30px;
        margin: 0 0 20px;
    }
    .our-story-p{
        font-family: $font-family-p;
        font-size: 14px;
    }
}