@import '../common/all';
@import '../common/variables';
@import '../common/mixins';




    
    
    .mug-card{
        margin-bottom: 30px;
        padding: 0px 15px;
        // position: relative;
        min-height: 1px;
        width: 100%;
        // width:;
        @include tablet  {
            max-width: 36%;
            }
            @include desktop {
                max-width: 30%;
            
        
            ;
            }
        .mug-card-img{
            position: initial;
            vertical-align: middle;
            border: 0;
            // @include tablet  {
            // max-width: 36%;
            // }
            // @include desktop {
                // max-width: 90%;
            }
        }
        .mug-card-title{
            letter-spacing: 1px;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 600;
            margin-top: 25px;
            margin-bottom: 15px;
            font-family: $font-family-body;
            color: black;
        }
        .mug-card-txt{
            margin: 0;
            line-height: 23px;
            padding: 0 50px;
            font-family: $font-family-p;
            color: $color-secundary-txt;
        }
    



