// $font-family-o:  'Open Sans', sans-serif;
// /*background del hero*/ $color-1:  #1445b3;

@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap" );
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap" );

$font-family-body: 'Oswald', sans-serif;
$font-family-p: 'Nunito', sans-serif;

$font-size-p: 14px;

$color-secundary-txt: #767676